@import "@/style/defaultVariable.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  position: relative;
  height: $header-height;
  padding-inline: $main_padding;
  position: fixed;
  top: 0;
  left: 0;
  // transition: background 1.2s;
  width: 100vw;
  z-index: 999;
  @media only screen and (max-width: 767.5px) {
    padding-inline: $main_padding_mb;
  }
  &.black {
    background-color: #000000;
    // transform: matrix(1, 0, 0, 1, 0, 0);
    border-bottom: 1px solid hsla(0, 0%, 59.2%, 0.2); 
    // background-color: rgba(0, 0, 0, 0.5);
    // transform: matrix(1, 0, 0, 1, 0, 0);
    // backdrop-filter: blur(10px);
    // background: linear-gradient(
    //   180deg,
    //   rgba(19, 26, 32, 0.7) 0%,
    //   rgba(19, 26, 32, 0) 100%
    // );
  }
  &.white {
    background: linear-gradient(
      180deg,
      rgba(19, 26, 32, 0.7) 0%,
      rgba(19, 26, 32, 0) 100%
    );
  }
  .logo {
    z-index: 1001;
    // font-size: 24px;
    // font-family: cursive;
  }
  .burger_btn {
    padding: 0 0 0 2px;
    margin-left: 4px;
    font-size: 0.75rem;
    position: relative;
    display: block;
    z-index: 10000;
    height: 12px;
    width: 26px;
    transition: 0.2s ease;
    will-change: height;
    -webkit-animation: recross 0.5s ease;
    animation: recross 0.5s ease;
    border: none;
    background: none;
    outline: none;
    color: inherit;
    &.close {
      height: 20px;
      span {
        transform: rotate(45deg);
        &:nth-child(2) {
          transform: rotate(-45deg);
        }
      }
    }
    span {
      position: absolute;
      transform-origin: left center;
      top: 0;
      left: 2px;
      display: inline-block;
      width: 26px;
      height: 2px;
      background: #fff;
      transition: transform 0.5s ease;
      &:nth-child(2) {
        top: inherit;
        bottom: 0;
      }
    }
  }
}

.repon_drawer {
  :global(.ant-drawer-content) {
    background-color: rgba(0, 0, 0, 0.5);
    transform: matrix(1, 0, 0, 1, 0, 0);
    backdrop-filter: blur(10px);
  }
  @media only screen and (max-width: 767.5px) {
    :global(.ant-drawer-content-wrapper) {
      width: 100% !important;
    }
  }
  .sidebar_area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .list_link {
      padding: 60px 0 12px 0;
      font-size: 1.375rem;
      line-height: 24px;
      text-transform: uppercase;
      :global(a) {
        color: #fff;
      }
    }
    @media only screen and (max-width: 767.5px) {
      list_link {
        font-size: 6vw;
        line-height:normal
      }
    }
    .sidebar_social {
      padding-bottom: 20px;
      :global(a) {
        :global(svg) {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
